.avatar-container{
  display: flex;
  justify-content: center;
  &__avatar {
    width: 256px;
    height: 256px;
  }
}
.appointment-avatar{
    height: 60px !important;
    width: 60px !important;
}
ion-item.list-item {
  width: 90%;
  --border-radius: 50px;
  --box-shadow: 0 1px 14px -7px rgba(0,0,0,0.2);
  --ion-background-color: #f4f5f5;
}
