ion-label{
    max-width: 120px!important;
    width: 120px!important;
    min-width: 120px!important;
}

.address{
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-height : 320px) and (max-height : 500px) {
    ion-label{
        max-width: 100px!important;
        width: 100px!important;
        min-width: 100px!important;
    }
}

.card-content div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#map{
    margin: 15px auto;
    border-radius: 10px;
    height: 200px;
    --box-shadow: 0 1px 14px -7px rgba(0,0,0,0.5);
}

ion-button.cancel-button{

    --border-radius: 50px;
    --box-shadow: 0 1px 14px -7px rgba(0,0,0,0.5);
}

